### Symfony ###
/var/
/vendor/
/node_modules/
/.env
.env.local
.env.*.local

### IDE ###
/.idea/
/.vscode/

### OS ###
.DS_Store
Thumbs.db

### Public files ###
/public/bundles/
/public/build/

### Tests ###
/coverage/
.phpunit.result.cache

### Logs ###
/logs/
